// VARRIBLES
$color-primary: #FFCB45;
$color-secondary: #FFAC4B;
$color-black: #1D1D1D;
$color-black-50: rgba(29, 29, 29, 0.70);
$color-light: #FFF9EA;
$font-lg: 3rem;
$font-xxl: 2rem;
$font-xl: 1.7rem;
$font-md: 1.5rem;
$font-sm: 1.3rem;
$font-smm: 1.1rem;
