// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600;700&display=swap');

// GLOBAL STYLES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
  font-style: normal;
  font-family: "Readex Pro", sans-serif;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #9d9d9d;
  border-radius: 20px;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
}

@media(max-width: 480px) {
  html {
    font-size: 14px;
  }
}